body{
    margin: auto;
    width: auto;
}

/*entête et truc de l'entête */
header{
    margin:0;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    background:rgb(74, 136, 190);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items:initial;
}
.logo img{
    width: 100px;
    height: 100px;
}

.succes img{
    width: 25px;
    height: 25px;
}





nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size:xx-large;
    font-style: bold;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
/*truc des produit*/
.bouton ul{
    max-height: 0;
	overflow: hidden;
	transition: 0;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
}

.bouton:hover ul{
    display: block;
    background:linear-gradient(lightblue, blue);
    max-height: 50em;
    transition: 1s;
}

.menu a {
	display: block;
	margin: 0;
	padding: .5em 1.5em;
	font-size: inherit;
	color: black;;
	text-decoration: none;
	box-sizing: border-box;
}

.interaction{
    margin-right: 5%;
    
}

.interaction li {
    margin-top: 10px;
    list-style-type: none;
}



/* le pied de la page */
footer {
	position:fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: grey;
}

/* Formulaire*/

textarea {
    width: 500px;
    height: 100px;
}

input:invalid {
    border: 2px solid red;
}

#verif1 {
    display: flex;
    justify-content: center;
}

#verif2 {
    display: flex;
    justify-content: center;
}

#verif3 {
    display: flex;
    justify-content: center;
}

#verif4 {
    display: flex;
    justify-content: center;
}

#verif5 {
    display: flex;
    justify-content: center;
}

#verif6 {
    display: flex;
    justify-content: center;
}

#verif7 {
    display: flex;
    justify-content: center;
}

#verif8 {
    display: flex;
    justify-content: center;
}

.verif {
    margin: 10px;
}